<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CRMDBConnection" connectionString="Data Source=10.101.1.6;Initial Catalog=EABTP_PROD;Integrated Security=True;Pooling=False;" />
	</connectionStrings>
	<appSettings>
		<add key="ConnectorURL" value="https://localhost:44342/envizi/" />
		<add key="ThirdPartyURL" value="https://au001.envizi.com/home/default.aspx" />
		<add key="ThirdPartyUsername" value="bruce.macfarlane@energyaction.envizi.com" />
		<add key="ThirdPartyPassword" value="Enviz1Pa33w0rd!#" />
		<add key="CRMDatabaseName" value="EABTP_UAT" />
	</appSettings>
</configuration>